@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

// font-family: 'Poppins', sans-serif;
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
}

.center {
    max-width: 1200px;
    padding: 0 calc(50% - 600px);
    margin: 0 auto;
}

.introduction {
    background-image: url(../img/Rectangle29\(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 400px;

    a {
        color: #ffffff;
    }
}


.header {
    height: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    input {
        width: 288px;
        height: 41px;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        outline: none;
        background: transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 0 32px 0 32px;
        box-sizing: border-box;

        &::placeholder {
            color: white;
        }
    }
}

.menu {
    display: flex;
    gap: 32px;

    &__link {
        font-size: 16px;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    &-mob {
        display: none;
    }
}

.title {
    padding: 127px 0 126px 0;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}

.heading {
    padding-top: 64px;
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.basket {
    padding-top: 64px;

    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__products {
        grid-column: span 8;
        display: flex;
        flex-direction: column;
    }

    &__top {
        margin: 0 3px;
        display: flex;
        justify-content: space-between;

        &__item {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            &:nth-child(2) {
                margin-right: 27px;
            }
        }
    }

    &__product {
        border-top: 0.5px solid #CACDD8;
        display: grid;
        grid-template-columns: 173px 276px 1fr;
        padding: 25px 0 32px 0;
        gap: 32px;

        &__img {}

        &__info {
            &__head {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
                margin-bottom: 16px;
            }

            &__desc {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #888888;
                margin-bottom: 16px;
            }

            &__price {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 16px;
            }

            &__actions {
                display: flex;
                gap: 30px;
            }

            &__link {
                font-weight: 400;
                font-size: 14px;
                line-height: 210%;
                display: flex;
                align-items: center;
                text-align: center;
                text-decoration-line: underline;
                color: #000000;
                transition: color 0.3s;

                &:hover {
                    color: #888888;
                    text-decoration: none;
                }

            }
        }

        &__counter {
            margin-left: auto;
            // position: relative;

            input {
                background: #F7F6F6;
                border-radius: 6px;
                display: block;
                padding-left: 22px;
                padding-right: 16px;
                box-sizing: border-box;
                border: none;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 210%;
                width: 71px;
                height: 51px;
                outline: none;

                // &[type=number]::-webkit-inner-spin-button {
                //     opacity: 0;
                // }


            }

            // &::after {
            //     content: '';
            //     background: url(/img/Vector\ 11.svg);
            //     position: absolute;
            //     border: 1.6px solid #CACDD8;
            //     right: 10px;
            //     top: 9px;
            //     width: 4px;
            //     height: 2px;
            //     transform: matrix(0, -1, -1, 0, 0, 0);
            // }

            // &::before {
            //     content: '';
            //     background: url(/img/Vector\ 11.svg);
            //     background-repeat: no-repeat;
            //     background-size: contain;
            //     position: absolute;
            //     border: 1.6px solid #CACDD8;
            //     right: 10px;
            //     top: 20px;
            //     width: 4px;
            //     height: 2px;
            //     transform: matrix(0, 1, 1, 0, 0, 0);
            // }
        }
    }

    &__action__buttons {
        margin-top: auto;
    }

    &__action__button {
        background: transparent;
        border: 1px solid #000000;
        border-radius: 50px;
        box-sizing: border-box;
        width: 200px;
        height: 37px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        transition: all 0.3s;

        &:hover {
            color: white;
            background-color: #000000;
        }
    }

    &__form {
        grid-column: span 4;
        height: 556px;
        background: #F7F6F6;
        border-radius: 20px;

        &__head {
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #000000;
            margin-top: 42px;
            margin-bottom: 40px;
        }

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 45px;
            margin-left: 27px;
            margin-right: 64px;
        }

        &__input {
            background: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid #CACDD8;
            padding: 0px 1px 3px 1px;
            box-sizing: border-box;

            &::placeholder {
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                font-family: 'Montserrat';
            }
        }

        &__price {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #000000;
            margin: 64px 0 18px 0;
            text-align: center;
        }

        &__button button {
            display: flex;
            align-items: center;
            margin: 0 auto;
            justify-content: center;
            background: rgba(222, 215, 215, 0.41);
            border: 1px solid #040404;
            border-radius: 20px;
            box-sizing: border-box;
            height: 41px;
            width: 290px;
            color: #000000;
            margin-top: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            background: transparent;
            color: #000000;
            transition: all 0.3s;
            animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

            &:hover {
                color: white;
                background-color: #000000;
            }
        }
    }
}

.sales__flex {
    display: flex;
    gap: 31px;
    flex-wrap: wrap;
}

.sale {
    max-width: 379px;

    &__heading {
        padding-bottom: 8px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__img {
        height: 250px;
    }

    &__text {
        padding-bottom: 12px;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }

    &__price {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;

        &_sale {
            text-decoration-line: line-through;
            color: #888888;
        }
    }

    &__link {
        margin: 39px 0 64px 0;

        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-decoration-line: underline;
            color: #000000;
            transition: color 0.3s;

            &:hover {
                color: #888888;
                text-decoration: none;
            }
        }
    }
}

.prices-sale {
    display: flex;
    column-gap: 32px;
}

.footer {
    background: #F7F6F6;
    display: flex;
    gap: 31px;
    padding-top: 32px;
    padding-bottom: 40px;
    align-items: flex-start;
    // flex-wrap: wrap;

    &__flex {
        &:nth-child(1) {
            margin-right: 186px;
        }

        &:nth-child(2) {
            margin-right: 42px;
        }

        &:nth-child(3) {

            margin-left: 104px;
        }
    }

    &__logo {
        filter: invert(1);
    }

    &__heading {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #000000;
        }
    }

    &__info {
        display: flex;
        gap: 129px;

        &__block {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }
    }

    &__pics {
        margin-top: 3.47px;
        display: flex;
        align-items: center;
        column-gap: 23.41px;
    }

    &__icon path {
        transition: fill 0.3s;
    }

    &__icon:hover path {
        fill: black;
    }


}

.form {
    &__text {
        max-width: 275px;
        font-family: 'Roboto', sans-serif;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 14px;
        padding-bottom: 16px;
        line-height: 16px;
        color: #000000;
        font-family: 'Roboto', sans-serif;
    }

    &__email {
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
        height: 46px;
        padding: 0 25px;
        outline: none;

        &::placeholder {
            color: #C4C4C4;
        }
    }

    &__button {
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        height: 46px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-top: 12px;
        transition: all 0.3s;

        &:hover {
            background: #000000;
            border: 1px solid #FFFFFF;
            border-radius: 20px;
            color: #FFFFFF;
        }
    }
}

.onunderline:hover {
    text-decoration: underline;
}

@media (max-width: 1199px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .heading {
        margin-left: calc(50% - 393.5px);
        margin-right: calc(50% - 393.5px);
    }

    .footer {
        justify-content: space-between;

        &__flex {
            margin-left: 0;
            margin-right: 0;

            &:nth-child(1) {
                margin-right: auto;
            }

            &:nth-child(2) {
                margin-right: auto;
            }

            &:nth-child(3) {
                margin-left: auto;
            }
        }
    }

    .sales__flex {
        justify-content: center;
    }

    .sale__link {
        padding-left: calc(50% - 393.5px);
        padding-right: calc(50% - 393.5px);
    }
}

@media (max-width: 1024px) {


    .footer__flex:nth-child(1) {
        display: none;
    }

    .basket {
        &__grid {
            grid-template-columns: 12fr;
            grid-template-rows: 12fr;
        }

        &__products {}

        &__form {
            margin-top: 64px;
            max-width: 376px;
        }
    }


    .sales__flex {
        column-gap: 29px;
        row-gap: 38px;
    }

    .sale {
        width: 378px;
    }

    .footer {
        justify-content: space-between;

        &__flex {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sale__link {
        padding-left: calc(50% - 379px/2);
        padding-right: calc(50% - 379px/2);
    }

    .heading {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .introduction {
        background-position: 70%;
    }

    .header {
        padding-top: 32px;
        align-items: center;
        border: none;
        height: 57px;
        margin-bottom: 82px;

        input {
            display: none;
        }

        a {
            img {
                width: 99px;
            }

        }
    }

    .top {
        h1 {
            padding-top: 0;
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }
    }


    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .basket {
        max-width: 343px;

        &__products {
            max-width: 343px;
        }

        &__form {
            width: 343px;
            margin-top: 16px;
            margin-bottom: 16px;

            &__inputs {
                margin-right: 28px;
            }
        }

        &__action {
            &__buttons {
                display: flex;
                gap: 14px;
            }

            &__button {
                width: 163px;
            }
        }

        &__top {
            opacity: 0;
        }

        &__product {
            grid-template-columns: 3fr 1fr;

            &__img {
                display: none;
            }

            &__info {
                &__head {
                    font-size: 18px;
                    line-height: 22px;
                }

                &__desc {
                    font-size: 12px;
                    line-height: 15px;
                }

                &__price {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    .menu {
        display: none;

        &-mob {
            display: flex;
            gap: 32px;
        }
    }

    .footer {
        justify-content: space-between;
        gap: 34px;
        padding-bottom: 32px;

        &__info {
            justify-content: space-between;
        }

        &__flex {
            &:last-child {
                margin: 0 auto;
            }
        }

        flex-wrap: wrap;
    }

    .form__text {
        font-size: 12px;
        line-height: 15px;
    }

    .heading {
        font-size: 24px;
        line-height: 29px;
        padding-top: 32px;
        margin-left: calc(50% - 343px/2);
        margin-right: calc(50% - 343px/2);
        max-width: 343px;
        text-align: left;
    }

    .sales__flex {
        justify-content: center;
        row-gap: 32px;
    }

    .sale {
        max-width: 343px;

        &__img {
            width: 343px;
        }

        &__heading {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        &__price {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        &__link {
            padding-left: calc(50% - 343px/2);
            padding-right: calc(50% - 343px/2);
            margin-bottom: 32px;
            margin-top: 32px;
        }
    }
}